$('#btn-book').append($("<a class='btn btn-flat btn-action btn-md btn-block requestButton btn-submit' style='background: #60c157!important; color: white;'>Đang giao dịch</a>"))
$($('#btn-book').children()[0]).remove()
