<div class="col-lg-3 col-md-4 col-sm-6 col-12">
  <div class="company_profile_info">
    <div class="company-up-info">
      <%=image_tag("tmp/eya2.jpg")%>
      <h3>Phương Nhung</h3>
      <h4>Quê quán:  Vĩnh Phúc</h4>
      <ul>
        <li>
          <button type="button" class="btn btn-light border">
            <i class="fas fa-rss text-secondary"></i>
            Đang theo dõi
          </button>
        </li>
        <li><a href="#" title="" class="message-us"><i class="fas fa-comments"></i></li>
      </ul>
    </div>
    <a href="guider-profile.html" title="" class="view-more-pro">Trang cá nhân</a>
  </div>
  <!--company_profile_info end-->
</div>
