<div class="wrapper">
  <%= render 'user/header' %>
  <section class="companies-info">
    <div class="container">
      <div class="company-title">
        <h3>Đang theo dõi</h3>
      </div>
      <!--company-title end-->
      <div class="companies-list">
        <div class="row">
          
        </div>
      </div>
      <!--companies-list end-->
      <div class="process-comm">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
      <!--process-comm end-->
    </div>
  </section>
  <!--companies-info end-->
  <footer>
    <div class="footy-sec mn no-margin">
      <div class="container">
      </div>
    </div>
  </footer>
  <!--footer end-->
</div>
