<div class="wrapper">
  <%= render 'user/header' %>
    <section class="forum-page">
      <div class="container">
        <div class="company-title">
          <h3>Lịch sử</h3>
        </div>
        <!--company-title end-->
        <div class="forum-questions-sec">
          <div class="row">
            <div class="col-lg-12">
              <div class="list-history">
                <div class="row p-4">
                  <div class="col-md-4">
                    <p>Lộ trình Sapa 2 ngày 1 đêm</p>
                    <p>Giá tiền: 250.000đ</p>
                    <p>Trạng thái: <span class="status-doing">Đang tiến hành</span></p>
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="usr_img">
                          <img src="images/eya.jpg" alt="">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <p>Guider: Thu Trang</p>
                        <p>Đang theo dõi</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-light border text-danger button-ban" type="button"> <i class="fas fa-ban"> Hủy</i></button>
                    <div class="time-history"><i class="fa fa-clock-o"></i> Ngày 20/11/2020</div>
                  </div>
                </div>
                <!--usr-question end-->
              </div>
              <!--forum-questions end-->
              <div class="list-history">
                <div class="row p-4">
                  <div class="col-md-4">
                    <p>Lộ trình Sapa 2 ngày 1 đêm</p>
                    <p>Giá tiền: 250.000đ</p>
                    <p>Trạng thái: <span class="status-ban">Hủy</span></p>
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="usr_img">
                          <img src="images/any.jpg" alt="">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <p>Guider: Nam Vũ</p>
                        <p>Đang theo dõi</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="time-history"><i class="fa fa-clock-o"></i> Ngày 20/11/2020</div>
                  </div>
                </div>
                <!--usr-question end-->
              </div>
              <!--forum-questions end-->
              <div class="list-history">
                <div class="row p-4">
                  <div class="col-md-4">
                    <p>Lộ trình Sapa 2 ngày 1 đêm</p>
                    <p>Giá tiền: 250.000đ</p>
                    <p>Trạng thái: <span class="status-done">Hoàn thành</span></p>
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="usr_img">
                          <img src="images/eya2.jpg" alt="">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <p>Guider: Ngọc Vân</p>
                        <p>Đang theo dõi</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="time-history"><i class="fa fa-clock-o"></i> Ngày 20/11/2020</div>
                  </div>
                </div>
                <!--usr-question end-->
              </div>
              <!--forum-questions end-->
              <nav aria-label="Page navigation example" class="full-pagi">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link pvr" href="#">Trước</a></li>
                  <li class="page-item"><a class="page-link active" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#">6</a></li>
                  <li class="page-item"><a class="page-link pvr" href="#">Sau</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!--forum-questions-sec end-->
      </div>
    </section>
    <!--forum-page end-->
  </div>
  <!--theme-layout end-->
